<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
   	<!-- layout Content -->
	<th:block layout:fragment="content">
		<div class="container">
			<h1>Board Register.</h1>
			<form id="frm" action="/board/write/action" method="post" enctype="multipart/form-data">
				<div class="mb-3">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Title.</label>
				    <input type="text" class="form-control" name="title" required >
				</div>
				<div class="mb-3">
			    	<label class="form-label font-weight-bold"><span class="text-danger">* </span>Content.</label>
			    	<textarea class="form-control" rows="5" name="content" required ></textarea>
				</div>
				<div class="mb-3">
				    <label class="form-label font-weight-bold"><span class="text-danger">* </span>Writer.</label>
				    <input type="text" class="form-control" name="registerId" required >
				</div>
				<div class="mb-3">
				    <label class="form-label font-weight-bold">File Upload.</label>
					<div id="fileDiv">
						<div class="custom-file mt-1">
							<input type="file" class="custom-file-input" id="customFile" name="customFile" onchange="fnChngFile(this);">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
					</div>
					<div class="float-right mt-2">
						<a class="btn btn-primary text-white" href="javascript:fnAddFileDiv();" >+</a>
						<a class="btn btn-danger text-white" href="javascript:fnDelFileDiv();" >-</a>
					</div>
			    </div>
				<div class="mt-5">
					<button type="button" class="btn btn-success" onclick="javascript:location.href='/board/list'">Previous</button>
					<button type="submit" class="btn btn-primary" onclick="fnSubmit();">Submit</button>
				</div>
			</form>
		</div>
		<script th:inline="javascript">
			let frm = $("#frm");
			let $origFileDiv = $(".custom-file");
			let fileMaxCnt = 3, fileMaxSize = 10485760, fileAllowExt = ["jpg","jpeg","png"];
			
			function fnAddFileDiv() {
				let fileDivCnt = $(".custom-file").length;
				
				if (fileDivCnt >= fileMaxCnt) {
					alert("Can't add any more file.");
					return false;
				}
				
				let $copyFileDiv = $origFileDiv.clone(true);
				
				$copyFileDiv.find("input").val("");
				$copyFileDiv.find("label").text("Choose file");
				$copyFileDiv.find("label").attr("for", "customFile" + fileDivCnt);
				$copyFileDiv.find("input").attr("id", "customFile" + fileDivCnt);
				$copyFileDiv.find("input").attr("name", "customFile" + fileDivCnt);
				
				$("#fileDiv").append($copyFileDiv);
			}
			
			function fnDelFileDiv() {
				if ($(".custom-file").length <= 1) {
					alert("Can't Delete any more file.");
					return false;
				}
				$(".custom-file")[$(".custom-file").length - 1].remove();
			}
			
			function fnChngFile(obj) {
				let fileObj	= $(obj)[0];
				let fileVal	= fileObj.files[0].name;
				let fileSize	= fileObj.files[0].size;
				let fileExt	= fileVal.substring(fileVal.lastIndexOf(".") + 1, fileVal.length); 
				let flag = true;
				
				if (fileAllowExt.indexOf(fileExt.toLowerCase()) < 0) {
					alert("It is not a registrable extension.");
				} else if(fileSize > fileMaxSize) {
					alert("Attachments can be registered up to 10MB.");
				} else {
					flag = false;
					$(obj).next("label").text(fileVal);
				}
				
				if (flag) {
					$(obj).val("");
					$(obj).next("label").text("Choose file");
				}
			}
			
			function fnSubmit() {
				frm.submit();
		    }
		    
		    $(function() {
		    	frm.validate({
		            messages: {
		            	// Message Custom..
		            	title: {
		                    required : "필수 값입니다."
		                }
		            },
		            submitHandler: function (form) {
		                // Submit Action..
		                form.submit();
		            }
		        });
		    });
		</script>
	</th:block>
</html>